body {
  padding: 0;
  text-align: center;
  overflow: hidden;
}

#game-intro {
  padding: 20px 0px;
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

#penalties-scoreboard {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  min-width: 150px;
  min-height: 100px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  gap: 10px;
  padding: 5px;
  box-sizing: content-box;
  z-index: 99999;
  justify-content: center;
}

#attempts-counter,
#score-counter {
  display: flex;
  gap: 3px;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-size: x-large;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url("../images/ballcourt.webp");
  background-size: cover;
  background-position-x: center;
}

#celebration {
  display: none;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: linear-gradient(45deg, #ff0066, #ffcc00);
  color: white;
  font-size: 5vw;
  padding: 0.5vw 1vw;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  animation: pulse 1.5s infinite;
  pointer-events: none;
}

#missed {
  display: none;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: linear-gradient(45deg, #bebebe, #2e2e2e);
  color: rgb(0, 0, 0);
  font-size: 5vw;
  padding: 0.5vw 1vw;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  animation: pulse 1.5s infinite;
  pointer-events: none;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.flip-vertically {
  transform: scaleY(-1);
}

@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 750px;
}

.goalkeeper {
  transition: left 0.5s ease;
}

#scoreboard {
  background-color: #000000;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  margin: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
  box-sizing: content-box;
  z-index: 99999;
  justify-content: center;
}

.score-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  background-color: whitesmoke;
}

.green-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  background-color: green;
}

.red-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  background-color: red;
}

body button {
  font-size: 30px;
  background-color: #00872d;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
